/* Layout */
.container,
.et_pb_row,
.et_pb_slider .et_pb_container,
.et_pb_fullwidth_section .et_pb_title_container,
.et_pb_fullwidth_section .et_pb_title_featured_container {
    width: var(--desktop-width);
    max-width: 1920px;
}

@media (max-width: 980px) {

    .container,
    .et_pb_row,
    .et_pb_slider .et_pb_container,
    .et_pb_fullwidth_section .et_pb_title_container,
    .et_pb_fullwidth_section .et_pb_title_featured_container {
        width: var(--mobile-width);
    }
}

/* Typography - Here we override Divi's column font-size styling and update it with values from our Design System */
.et_pb_column_1_3 h1,
.et_pb_column_1_4 h1,
.et_pb_column_1_5 h1,
.et_pb_column_1_6 h1,
.et_pb_column_2_5 h1 {
    font-size: var(--h1-font-size);
}

.et_pb_column_1_3 h2,
.et_pb_column_1_4 h2,
.et_pb_column_1_5 h2,
.et_pb_column_1_6 h2,
.et_pb_column_2_5 h2 {
    font-size: var(--h2-font-size);
}

.et_pb_column_1_3 h3,
.et_pb_column_1_4 h3,
.et_pb_column_1_5 h3,
.et_pb_column_1_6 h3,
.et_pb_column_2_5 h3 {
    font-size: var(--h3-font-size);
}

.et_pb_column_1_3 h4,
.et_pb_column_1_4 h4,
.et_pb_column_1_5 h4,
.et_pb_column_1_6 h4,
.et_pb_column_2_5 h4 {
    font-size: var(--h4-font-size);
}

.et_pb_column_1_3 h5,
.et_pb_column_1_4 h5,
.et_pb_column_1_5 h5,
.et_pb_column_1_6 h5,
.et_pb_column_2_5 h5 {
    font-size: var(--h5-font-size);
}

.et_pb_column_1_3 h6,
.et_pb_column_1_4 h6,
.et_pb_column_1_5 h6,
.et_pb_column_1_6 h6,
.et_pb_column_2_5 h6 {
    font-size: var(--h6-font-size);
}

@media (max-width: 767px) {

    .et_pb_column_1_3 h1,
    .et_pb_column_1_4 h1,
    .et_pb_column_1_5 h1,
    .et_pb_column_1_6 h1,
    .et_pb_column_2_5 h1 {
        font-size: var(--h1-font-size-mobile);
    }

    .et_pb_column_1_3 h2,
    .et_pb_column_1_4 h2,
    .et_pb_column_1_5 h2,
    .et_pb_column_1_6 h2,
    .et_pb_column_2_5 h2 {
        font-size: var(--h2-font-size-mobile);
    }

    .et_pb_column_1_3 h3,
    .et_pb_column_1_4 h3,
    .et_pb_column_1_5 h3,
    .et_pb_column_1_6 h3,
    .et_pb_column_2_5 h3 {
        font-size: var(--h3-font-size-mobile);
    }

    .et_pb_column_1_3 h4,
    .et_pb_column_1_4 h4,
    .et_pb_column_1_5 h4,
    .et_pb_column_1_6 h4,
    .et_pb_column_2_5 h4 {
        font-size: var(--h4-font-size-mobile);
    }

    .et_pb_column_1_3 h5,
    .et_pb_column_1_4 h5,
    .et_pb_column_1_5 h5,
    .et_pb_column_1_6 h5,
    .et_pb_column_2_5 h5 {
        font-size: var(--h5-font-size-mobile);
    }

    .et_pb_column_1_3 h6,
    .et_pb_column_1_4 h6,
    .et_pb_column_1_5 h6,
    .et_pb_column_1_6 h6,
    .et_pb_column_2_5 h6 {
        font-size: var(--h6-font-size-mobile);
    }
}

@media (min-width: 981px) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        padding-bottom: 16px;
    }
}

/* Colour */
:root {
    --black-100: #000;
    --black-90: rgba(0, 0, 0, 0.9);
    --black-80: rgba(0, 0, 0, 0.8);
    --black-70: rgba(0, 0, 0, 0.7);
    --black-60: rgba(0, 0, 0, 0.6);
    --black-50: rgba(0, 0, 0, 0.5);
    --black-40: rgba(0, 0, 0, 0.4);
    --black-30: rgba(0, 0, 0, 0.3);
    --black-20: rgba(0, 0, 0, 0.2);
    --black-10: rgba(0, 0, 0, 0.1);
    --black-5: rgba(0, 0, 0, 0.05);

    --white-100: #fff;
    --white-90: rgba(255, 255, 255, 0.9);
    --white-80: rgba(255, 255, 255, 0.8);
    --white-70: rgba(255, 255, 255, 0.7);
    --white-60: rgba(255, 255, 255, 0.6);
    --white-50: rgba(255, 255, 255, 0.5);
    --white-40: rgba(255, 255, 255, 0.4);
    --white-30: rgba(255, 255, 255, 0.3);
    --white-20: rgba(255, 255, 255, 0.2);
    --white-10: rgba(255, 255, 255, 0.1);
    --white-5: rgba(255, 255, 255, 0.05);

    --info-l1: #F0F5FF;
    --info-l2: #89A7E0;
    --info: #2E5AAC;

    --error-l1: #FEEFEF;
    --error-l2: #F48989;
    --error: #DA1414;

    --alert-l1: #FFF4EC;
    --alert-l2: #FF8F39;
    --alert: #B95000;

    --success-l1: #EDF9F0;
    --success-l2: #5ACA75;
    --success: #287D3C;
}

/* Colour - Page Background */
#main-content {
    background: var(--site-background) !important;
}

/* Override Divi's default section & row padding */
@media (min-width: 1350px) {
    .cbSec {
        padding: 40px 0 !important;
    }
}

@media (min-width: 981px) {
    .cbSec {
        padding: 2.5% 0 !important;
    }
}

@media (max-width: 980px) {
    .cbSec {
        padding: 25px 0 !important;
    }
}

@media (min-width: 1350px) {
    .cbRow {
        padding: 10px 0 !important;
    }
}

@media (min-width: 981px) {
    .cbRow {
        padding: 1.25% 0 !important;
    }
}

@media (max-width: 980px) {
    .cbRow {
        padding: 5px 0 !important;
    }
}

/* Remove sidebar and push the page contents full width */
#main-content .container:before {
    display: none;
}

#left-area {
    width: 100% !important;
}

#sidebar {
    display: none;
}

/* Helper classes - text-align */
.ta-l {
    text-align: left !important;
}

.ta-c {
    text-align: center !important;
}

.ta-r {
    text-align: right !important;
}


/* Helper classes - Flex */
.d-flex {
    display: flex;
}

@media (min-width: 981px) {
    .d-flex-d {
        display: flex;
        /* Flex items on Desktop only */
    }
}

@media (max-width: 980px) {
    .d-flex-m {
        display: flex;
        /* Flex's items on Tablet/Mobile only */
    }
}

.ai-c {
    align-items: center;
}

.ai-fs {
    align-items: flex-start;
}

.ai-fe {
    align-items: flex-end;
}

.jc-c {
    justify-content: center;
}

.jc-fs {
    justify-content: flex-start;
}

.jc-fe {
    justify-content: flex-end;
}

.jc-sb {
    justify-content: space-between;
}

.jc-sa {
    justify-content: space-around;
}

.fd-r {
    flex-direction: row;
}

.fd-rr {
    flex-direction: row-reverse;
}

.fd-c {
    flex-direction: column;
}

.fd-cr {
    flex-direction: column-reverse;
}
@media (max-width: 980px){
    .fd-cr-m{
        flex-direction: column-reverse;
    }
}

/* Helper Classes - max-width & margin */
.mw-500 {
    max-width: 500px;
}

.mw-550 {
    max-width: 550px;
}

.mw-600 {
    max-width: 600px;
}

.mw-650 {
    max-width: 650px;
}

.mw-700 {
    max-width: 700px;
}

.mw-750 {
    max-width: 750px;
}

.mw-800 {
    max-width: 800px;
}

.mw-850 {
    max-width: 850px;
}

.mw-900 {
    max-width: 900px;
}

.mw-950 {
    max-width: 950px;
}

.mw-1000 {
    max-width: 1000px;
}

.mw-1100 {
    max-width: 1100px;
}

.mw-1200 {
    max-width: 1200px;
}

.m-auto {
    margin: auto;
}

@media (min-width: 981px) {
    .m-auto-d {
        margin: auto;
        /* Centres content on desktop only */
    }
}

@media (max-width: 980px) {
    .m-auto-m {
        margin: auto;
        /* Centres content on mobile only */
    }
}

/* Inline Buttons - place buttons next to each other */
.btn-inline .et_pb_button_module_wrapper {
    display: inline-block;
}

.btn-inline-center .et_pb_button_module_wrapper {
    display: inline-block;
    text-align: center !important;
}

.btn-inline-right .et_pb_button_module_wrapper {
    display: inline-block;
    text-align: right !important;
}

.btn-inline .btn.first,
.btn-inline-center .btn-first,
.btn-inline-right .btn-first {
    margin-bottom: -16px !important;
}
@media (min-width: 768px) {
    .btn-inline .btn.first,
    .btn-inline-center .btn-first,
    .btn-inline-right .btn-first {
        margin-right: 20px !important;
    }
}

/* Legal Pages */
.legal{
    max-width: 800px;
}
.legal h2{
    font-size: 1.25rem;
    margin-top: 30px;
    margin-bottom: 0;
}
.legal h2:first-child{
    margin-top: 40px;
}
.legal p{
    font-size: 1rem;
    line-height: 1.7;
    padding-bottom: 1.25em;
}