/* Variables */
:root {
    --color-navy: #001537;
    --color-white: #fff;
    --color-orange: #f47920;
    --color-blue: #00aeef;
    --color-green: #39b54a;
    --color-purple: #662484;
    --color-red: #e01f25;

    --font-inter: "Inter", sans-serif;
}

/* buttons */
.btn {
    padding: 10px 20px;
    border-radius: 5px;
    font-family: var(--font-inter);
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--white);
}

.btn:hover {
    background-image: linear-gradient(rgb(0 0 0 / 5%) 0 0) !important;
}

.btn--orange,
.btn--orange:hover {
    background-color: var(--color-orange) !important;
}

.btn--blue,
.btn--blue:hover {
    background-color: var(--blue) !important;
}

.btn--purple,
.btn--purple:hover {
    background-color: var(--color-purple) !important;
}

.btn--white,
.btn--white:hover {
    color: var(--navy);
    background-color: var(--white) !important;
}

.btn br {
    display: none;
}

/* hero section */
.sec-hero {
    padding: 80px 0;
}
.sec-hero__content {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
.sec-hero__content h1 {
    font-family: var(--font-inter);
    font-size: 48px;
    font-weight: 600;
    line-height: 1.2;
    color: var(--color-navy);
    padding-bottom: 12px;
}
.sec-hero__content p {
    font-family: var(--font-inter);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-navy);
    opacity: 0.75;
}
.sec-hero__content .btn {
    margin-top: 20px;
}

/* content section */
