/* Variables */
:root {
    --color-navy: #001537;
    --color-white: #fff;
    --color-border: #d0d5dd;
    --color-orange: #f47920;
    --color-blue: #00aeef;
    --color-green: #39b54a;
    --color-purple: #662484;
    --color-red: #e01f25;
    --font-inter: "Inter", sans-serif;
    --shadow-sm: 0px 1px 2px rgba(16, 24, 40, 0.05);
    --shadow-lg: 0px 20px 24px -4px rgba(16, 24, 40, 0.08),
        0px 8px 8px -4px rgba(16, 24, 40, 0.03);
}

/* fullwidth containers for specific pages */
.page-id-8063 .g1-layout-inner,
.page-id-8104 .g1-layout-inner,
.page-id-8121 .g1-layout-inner,
.page-id-8128 .g1-layout-inner {
    width: 100% !important;
    max-width: 1920px !important;
}

.g1-prefooter .g1-layout-inner {
    width: 80% !important;
}

/* hide sidebar on specific pages */
.page-id-8104 #primary,
.page-id-8121 #primary,
.page-id-8128 #primary {
    width: 100% !important;
}
.page-id-8104 .g1-sidebar,
.page-id-8121 .g1-sidebar,
.page-id-8128 .g1-sidebar {
    display: none !important;
}

/* helper classes */
.flex-images {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;
    gap: 16px;
    padding-bottom: 50px;
}

@media all and (max-width: 767px) {
    .flex-images {
        padding-bottom: 30px;
    }
}

.grid-images {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
}
.grid-images__image.fullwidth {
    grid-column: span 3;
}
.grid-images__image.center {
    text-align: center;
}

@media all and (max-width: 767px) {
    .grid-images {
        display: block;
    }

    .grid-images__image:not(:last-child) {
        margin-bottom: 20px;
    }
}

.opacity-50 {
    opacity: 0.5;
}

/* buttons */
.btn {
    padding: 14px 28px;
    border: none !important;
    border-radius: 5px;
    font-family: var(--font-inter);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--white);
}

.btn:hover {
    background-image: linear-gradient(rgb(0 0 0 / 10%) 0 0) !important;
}

.btn--orange,
.btn--orange:hover {
    background-color: var(--color-orange) !important;
}

.btn--blue,
.btn--blue:hover {
    background-color: var(--blue) !important;
}

.btn--purple,
.btn--purple:hover {
    background-color: var(--color-purple) !important;
}

.btn--white,
.btn--white:hover {
    color: var(--navy) !important;
    border: 1px solid var(--color-border) !important;
    background-color: var(--white) !important;
    box-shadow: var(--shadow-sm);
}

.btn br {
    display: none;
}

.btn--flex {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}
.btn--flex * {
    margin-bottom: 0 !important;
}
.btn--flex br {
    display: none;
}

@media all and (max-width: 767px) {
    .btn {
        width: 100%;
    }

    .btn--flex {
        display: block;
    }

    .btn--flex .btn:first-of-type {
        margin-bottom: 10px !important;
    }
}

/* hero section */
.sec-hero {
    padding: 60px 0;
}
.sec-hero__content {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
.sec-hero__content h1 {
    font-family: var(--font-inter);
    font-size: 54px;
    font-weight: 600;
    line-height: 1.2;
    color: var(--color-navy);
    padding-bottom: 12px;
}
.sec-hero__content p {
    font-family: var(--font-inter);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-navy);
    opacity: 0.75;
}
.sec-hero__content .btn {
    margin-top: 20px;
}

@media all and (max-width: 767px) {
    .sec-hero {
        padding: 40px 20px;
    }

    .sec-hero__content h1 {
        font-size: 36px;
    }
}

/* image section */
.sec-image.fullwidth {
    padding: 0;
}

.sec-image.boxed .g1-layout-inner {
    width: 80% !important;
}

@media all and (max-width: 767px) {
    .sec-image.boxed .g1-layout-inner {
        width: 95% !important;
    }
}

/* content section */
.sec-content {
    padding: 80px 0;
}

.sec-content__content {
    max-width: 700px;
    margin: 0 auto;
}
.sec-content__content h2 {
    font-family: var(--font-inter);
    font-size: 36px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: var(--color-navy);
}
.sec-content__content h4 {
    font-family: var(--font-inter);
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: var(--color-navy) !important;
    padding-top: 24px;
}
.sec-content__content p:first-of-type {
    font-size: 18px;
    padding-top: 30px;
}
.sec-content__content p {
    font-family: var(--font-inter);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-navy);
    opacity: 0.75;
}
.sec-content__content a {
    color: initial;
    text-decoration: underline;
}
.sec-content__content a:hover {
    text-decoration: none;
}

.sec-content__icon {
    background-color: var(--color-white);
    border: 1px solid var(--color-border);
    border-radius: 8px;
    box-shadow: var(--shadow-sm);
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec-content__icon img {
    height: 48px;
}

.sec-content__link-list ul {
    font-family: var(--font-inter);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-navy);
    opacity: 0.75;
}
.sec-content__link-list ul li {
    margin: 4px 0;
}

.sec-content.dark {
    background-color: var(--color-navy);
}
.sec-content.dark h2,
.sec-content.dark h2 a,
.sec-content.dark h4,
.sec-content.dark p,
.sec-content.dark p a,
.sec-content.dark ul,
.sec-content.dark ol {
    color: var(--color-white) !important;
}
.sec-content.dark p,
.sec-content.dark ul,
.sec-content.dark ol {
    opacity: 1;
}

.sec-content .btn--flex {
    padding-top: 24px;
}

@media all and (max-width: 767px) {
    .sec-content {
        padding: 40px 20px;
    }

    .sec-content__content h2 {
        font-size: 32px;
    }

    .sec-content__content h4 {
        font-size: 22px;
    }

    .sec-content__content p:first-of-type {
        font-size: 16px;
    }

    .sec-content__icon {
        width: 64px;
        height: 64px;
    }

    .sec-content__icon img {
        height: 40px;
    }
}

/* dropdown */
.dropdown {
    width: 320px;
    cursor: pointer;
}
.dropdown__field {
    background-color: var(--color-white);
    border: 1px solid var(--color-border);
    border-radius: 8px;
    box-shadow: var(--shadow-sm);
    padding: 16px;
    font-family: var(--font-inter);
    font-size: 16px;
    font-weight: 500;
    color: var(--color-navy);
    transition: all 0.1s ease-in-out;
}
.dropdown__field:hover,
.dropdown__field:active {
    box-shadow: var(--shadow-lg);
    transition: all 0.1s ease-in-out;
}
.dropdown__field::after {
    content: url("https://www.cogdigital.com.au/wp-content/uploads/2022/11/chevron-down.svg");
    float: right;
    width: 12px;
    position: relative;
    top: -2px;
}

.dropdown__items__list {
    display: none;
    margin-left: 0;
    margin-bottom: 0;
    background-color: var(--color-white);
    border: 1px solid var(--color-border);
    border-radius: 8px;
    box-shadow: var(--shadow-lg);
    position: absolute;
    overflow: hidden;
    z-index: 1;
}
.dropdown__items__list.closed {
    display: none;
}
.dropdown__items__list.open {
    display: block;
}
.dropdown__items__list li {
    list-style-type: none;
}
.dropdown__items__list__item {
    display: block;
    padding: 16px;
    width: calc(320px - 32px);
    font-family: var(--font-inter);
    font-size: 15px;
    font-weight: 400;
    color: var(--color-navy) !important;
}
.dropdown__items__list__item:hover {
    background-image: linear-gradient(rgb(0 0 0 / 5%) 0 0);
}

/* cards */
.sec-cards .g1-layout-inner {
    width: 89% !important;
}
.sec-cards .g1-grid:first-of-type {
    padding-bottom: 30px;
}

.sec-cards .dropdown {
    margin-bottom: 30px;
}

.sec-cards__card {
    background-color: var(--color-white);
    border: 1px solid var(--color-border);
    border-radius: 8px;
    padding: 30px;
    box-shadow: var(--shadow-sm);
    transition: all 0.1s ease-in-out;
}
.sec-cards__card:hover {
    box-shadow: var(--shadow-lg);
    transition: all 0.1s ease-in-out;
}
.sec-cards__card__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    background-color: var(--color-white);
    border: 1px solid var(--color-border);
    border-radius: 8px;
    box-shadow: var(--shadow-sm);
    margin-bottom: 30px;
}
.sec-cards__card__icon img {
    height: 24px;
}
.sec-cards__card__content {
    padding-bottom: 16px;
}
.sec-cards__card__content h4 {
    font-family: var(--font-inter);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--color-navy);
}
.sec-cards__card__content p {
    font-family: var(--font-inter);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-navy);
    opacity: 0.75;
}
.sec-cards__card__content br {
    display: none;
}
.sec-cards__card__cta .btn {
    font-size: 14px;
    width: 100%;
    margin-bottom: 0 !important;
}

@media all and (max-width: 767px) {
    .sec-cards__card {
        padding: 24px;
    }
}
