/* Variables */
:root {
    --color-navy: #001537;
    --color-orange: #f47920;
    --color-blue: #00aeef;
    --color-green: #39b54a;
    --color-purple: #662484;
    --color-red: #e01f25;
}

/* buttons */
.btn {
}

.btn--orange {
    background-color: var(--color-orange);
}

.btn--blue {
    background-color: var(--blue);
}

.btn--purple {
    background-color: var(--color-purple);
}

.btn--white {
    background-color: var(--white);
}

.btn br {
    display: none;
}

/* content section */
